<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'de' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    {% if page.description %}
      <meta name="description" content="{{ page.description | escape }}">
    {% elsif site.description %}
      <meta name="description" content="{{ site.description | escape }}">
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% include custom-header.html %}
  </head>

  <body>
    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
